body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #faf9f6;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://t4.ftcdn.net/jpg/05/24/04/51/240_F_524045169_Cwlo71SHad3u0pTCIsOrbEDyDayoKOn9.jpg");
  background-repeat: no-repeat; /* Don't repeat the image */
  background-size: cover; /* Make it cover entire area */
  background-position: center; /* Center the image */
  background-attachment: fixed;
}

header {
  width: 100%;
  background: #49655b;
  color: #fff;
  padding: 5px 0;
  font-family: cursive;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 1.4em;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  margin-left: 28px;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 16px;
  border-radius: 20px;
  transition: background 0.2s;
}

nav a:hover,
nav a:focus {
  background: #04a777;
}

.registration-container {
  background: #fff;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px 30px 20px 30px;
  box-shadow: 0 4px 24px rgba(60, 60, 60, 0.07);
  border-radius: 10px;
}

.registration-container h2 {
  text-align: center;
  color: #046b61;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 15px 0 5px;
  color: #444;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b2dfdb;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  width: 100%;
  background: #00897b;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

form button:hover {
  background: #005d53;
}

button a:link {
  color: #04a777;
}

button a:visited {
  color: white;
}
button a:hover {
  color: rgb(25, 222, 173);
}
